{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="slider">
    <ul class="slides">
        <li>
            <img src="{% static 'images/bat1.jpg' %}" alt="Bat Data Gallery" class="opaque">
            <div class="caption center-align">
                <h1>
                    Our Goals<br/>
                    <small class="light text-lighten-3 hide-on-small-only">Extration, Clustering and Classification</small>
                </h1>

            </div>
        </li>
        <li>
            <img src="{% static 'images/bat2.jpg' %}" alt="Bat Data Gallery" class="opaque">
            <div class="caption left-align">
                <h1>
                    Members<br />
                    <small class="light text-lighten-3 hide-on-small-only">Hadi Soufi, Yang Peng, Bety Rostandy,Thien Le, Kevin Keomalaythong</small>
                </h1>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        {% for album in albums %}

        <div class="col">
            <div class="card dpg-album-card">
                <div class="card-image">
                    <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="dpg-album-card-image" />
                </div>
                <div class="card-content">
                    <span class="card-title">{{ album.title }}</span>
                    <p>{{ album.description|truncatechars:120 }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'album' album.slug %}">
                        More Images
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div class="pagination center">
    <span class="step-links">
        {% if albums.has_previous %}
        <a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
        {% endif %}

        {% if albums.has_next %}
        <a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
